
   				<% if flash[:notice] %>
			      <p style="color:green"><%= flash[:notice] %></p>
			    <% end %>
			    
			    <% if flash[:error] %>
			      <p style="color:red"><%= flash[:error] %></p>
			    <% end %>


<%= form_for(:session, :url => update_password_path) do |f| %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password1 %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password2 %>
  </div>
  
  	<%= hidden_field_tag :user_id, @user.id%>
  <div class="actions">
    <%= f.submit "Password ändern!" %>
  </div>
<% end %>
