
   				<% if flash[:notice] %>
			      <p style="color:green"><%= flash[:notice] %></p>
			    <% end %>
			    
			    <% if flash[:error] %>
			      <p style="color:red"><%= flash[:error] %></p>
			    <% end %>


<%= form_for(:session, :url => reset_password_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit "Neues Password zusenden!" %>
  </div>
<% end %>
