<tr>
    <td><%= Verein.find(tipp.spielbegegnung.verein_heim_id).name %></td>
    <td><%= Verein.find(tipp.spielbegegnung.verein_gast_id).name %></td>
    <td><%= tipp.spielbegegnung.tore_heim %></td>
    <td><%= tipp.spielbegegnung.tore_gast %></td>
    <td><%= tipp.tore_heim %></td>
    <td><%= tipp.tore_gast %></td>
    <td><%= tipp.punkte %></td>
</tr> 
