<h1 class="title">Meine Tipps</h1>
<p class="byline"><small>  </small></p>

   
<div class="entry">
 <p> 

<table border='1' sytle='dotted'>
  <tr>
    <th>Verein Heim</th>
    <th>Verein Gast</th>
    <th>Datum</th>
    <th>Anstoß</th>
    <th>Ergebnis</th>
    <td>Tipp</td>
    <td>Tippen</td>
  </tr>

<% @spielbegegnungen.each do |spielbegegnung| %>
  <tr>
    <td>  <%= Verein.find(spielbegegnung.verein_heim_id).name %></td>
    <td>  <%= Verein.find(spielbegegnung.verein_gast_id).name %></td>
    <td>  <%= spielbegegnung.datum.to_date %></td>
    <td>  <%= spielbegegnung.datum.to_s(:time)  %></td>
    <td>  <% if spielbegegnung.tore_heim.nil? %>
               - : -
            <% else %>
               <%= spielbegegnung.tore_heim %> : <%= spielbegegnung.tore_gast %>
          <% end %></td>
    
    
    <!-- REFACTOR ME PLEASE-->
    <% x = true %>
    <% @tipps.each do |tipp| %>

      <% if spielbegegnung.tipps.include?(tipp)%>
        <% x = false%>

                 
        <td><%= tipp.tore_heim %> : <%= tipp.tore_gast %></td>  
        <td><%= link_to 'tippen', edit_tipp_path(tipp) %></td>
      <% end %>
    <% end %>  
    <% if x %>
      <td> - : -</td>
      <td><%= link_to 'tippen', new_tipp_path(:id => spielbegegnung.id) %></td>
    <% end %>
    
  </tr>
<% end %>
</table>


  
  
  

<!-- JUST FOR ADMIN--->
<%if signed_in? && current_user.admin?%>
<table border='1' >
  <tr>
    <th>Id</th>
    <th>Spielbegegnung</th>
    <th>Owner</th>
    <th>Tipp</th>
    <th></th>
    <% if signed_in? && current_user.admin?  %>
    <th></th>
    <th></th>
    <% end %>
  </tr>
<br>
<br>
<% @tipps_g.each do |tipp| %>
  <tr>
    <td><%= tipp.id %></td>
    <td><%= tipp.spielbegegnung.id %></td>
    <td><%= tipp.tippgemeinschaft.users.first.name %></td>
    <td><%= tipp.tore_heim %>:<%= tipp.tore_gast %></td>
    <td><%= link_to 'Show', tipp %></td>
    <% if signed_in? && current_user.admin? %>
      <td><%= link_to 'Edit', edit_tipp_path(tipp) %></td>
      <td><%= link_to 'Delete', tipp, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>


</p>
</div>
