<h1 class="title">Meine Tipps</h1>
<div class="entry">
 <p>
   				<% if flash[:notice] %>
			      <p style="color:green"><%= flash[:notice] %></p>
			    <% end %>
			    
			    <% if flash[:error] %>
			      <p style="color:red"><%= flash[:error] %></p>
			    <% end %> 	 
 	
         	


<table border='1' sytle='dotted'>
  <tr>
    <th>Verein Heim</th>
    <th>Verein Gast</th>
    <th>Datum</th>
    <th>Anstoß</th>
    <th>Ergebnis</th>
    <td>Tipp</td>
    <td>Tippen</td>
  </tr>

<%= render 'spielbegegnungs' %>
  


<!-- JUST FOR ADMIN--->
<%if signed_in? && current_user.admin?%>
<table border='1' >
  <tr>
    <th>Id</th>
    <th>Spielbegegnung</th>
    <th>Owner</th>
    <th>Tipp</th>
    <th></th>
    <% if signed_in? && current_user.admin?  %>
    <th></th>
    <th></th>
    <% end %>
  </tr>
<br>
<br>
<% @tipps.each do |tipp| %>
  <tr>
    <td><%= tipp.id %></td>
    <td><%= tipp.spielbegegnung.id %></td>
    <td><%= tipp.tippgemeinschaft.users.first.name %></td>
    <td><%= tipp.tore_heim %>:<%= tipp.tore_gast %></td>
    <td><%= link_to 'Show', tipp %></td>
    <% if signed_in? && current_user.admin? %>
      <td><%= link_to 'Edit', edit_tipp_path(tipp) %></td>
      <td><%= link_to 'Delete', tipp, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>



</br>
</br>
DEBUG:</br>
</br>
Getippte Spiele<%= @tipped_sps.inspect %>








</p>
</div>
