<p id="notice"><%= notice %></p>

<p>
  <b>Spielbegegnung:</b>
  <%= @tipp.spielbegegnung_id %>
  
</p>

<p>
  <b>Tippgemeinschaft:</b>
  <%= @tipp.tippgemeinschaft_id %>
</p>

<p>
  <b>Tore heim:</b>
  <%= @tipp.tore_heim %>
</p>

<p>
  <b>Tore gast:</b>
  <%= @tipp.tore_gast %>
</p>

<p>
  <b>Punkte:</b>
  <%= @tipp.punkte %>
</p>


<%= link_to 'Edit', edit_tipp_path(@tipp) %> |
<%= link_to 'Back', tipps_path %>
