<%= form_for(@tippgemeinschaft) do |f| %>
  <% if @tippgemeinschaft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tippgemeinschaft.errors.count, "error") %> prohibited this tippgemeinschaft from being saved:</h2>

      <ul>
      <% @tippgemeinschaft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
