<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tippgemeinschaft.name %>
</p>

Tippgemeinschaftsinformationen<br>
<%= @tippgemeinschaft.inspect %>
<br>
<br>
Alle Benutzer der Gruppe:
<%= @tippgemeinschaft.users %><br>

<br>
Alle Tipps der Gruppe<br>
<% @tippgemeinschaft.tipps.each do |tipp| %>
<%= tipp.inspect %> Punkte dieses Tipps:<%= tipp.punkte %><br>

<% end %>



<%= link_to 'Edit', edit_tippgemeinschaft_path(@tippgemeinschaft) %> |
<%= link_to 'Back', tippgemeinschafts_path %>
