<h1 class="title">User Ranking</h1>
<p class="byline"><small>  </small></p>

   
<div class="entry">
 <p> 
<table border='1'>
  <tr>
    <th>Name</th>
    <th>Punkte</th>
   <%if signed_in? && current_user.admin?%>
    <th></th>
    <th></th>
    <th></th>
   <% end %> 
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td> <% if !user.tippgemeinschafts.first.tipps.nil? %>
          <% y = 0 %>
          <% user.tippgemeinschafts.first.tipps.each do |tipp| %>
            <% y +=  tipp.punkte.to_i%>
          <%end%>
          <%= y %>
         <%end%></td>
   <%if signed_in? && current_user.admin?%>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
   <% end %> 

   
   </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', user_path(current_user) %>

</p>
</div>
