<h1>Sign up here!</h1>

<%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :id=>"s" %>
  </div>
  <div class="field" > 
    <%= f.label :password %><br />
    <%= f.password_field :password , :id=>"s" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br />
    <%= f.password_field :password_confirmation, :id=>"s"  %>
  </div>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= link_to 'Back', users_path %>
