<% if signed_in? %>
<h1 class="title">Welcome <%= current_user.name%> on Bobuli!</h1>
<p class="byline"><small>  </small></p>

   
<div class="entry">
 <p> 
<%= current_user.name%>
gehört zu folgenden Tppgemeinschaften:<br>

Tippgemeinschafts ID : <%= current_user.tippgemeinschafts.first.id%><br>
Tippgemeinschagts Name: <%= current_user.tippgemeinschafts.name%><br>
</p>
<p>
<br>
<br>
<h3>Your recent Tipps:</h3><br>
<% if @user.tippgemeinschafts.first.tipps.nil? %>
--<br>
<% else %>
<table border='1'>
<tr>
  <td>Mannschaft Heim</td>
  <td>Mannschaft Gast</td>
  <td>Ergebnis </td>
  <td>Tipp Tore</td>
  <td>Punkte</td>
</tr> 
<%= render @tipps %>
</table>
</p>
<% end %>

</div>

<% end %>


