<h1 class="title">Alle Vereine</h1>
<p class="byline"><small>  </small></p>

   
<div class="entry">
 <p> 

<table border='1'>
  <tr>
    <th>Name</th>
    <th>Stadt</th>
    <th></th>
    <% if signed_in? && current_user.admin? %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @vereins.each do |verein| %>
  <tr>
    <td><%= verein.name %></td>
    <td><%= verein.stadt %></td>
    <td><%= link_to 'Show', verein %></td>
    <% if signed_in? && current_user.admin? %>
      <td><%= link_to 'Edit', edit_verein_path(verein) %></td>
      <td><%= link_to 'Delete', verein, :confirm => 'Are you sure?', :method => :delete %></td>
  <% end %>
  </tr>
<% end %>
</table>

<br/>
 <% if signed_in? && current_user.admin? %>
<%= link_to 'Neuer Verein hinzufügen', new_verein_path %>
<% end %>
</p>
</div>