<h1 class="title">Detailansicht <%= @verein.name %></h1>
<p class="byline"><small>  </small></p>
   
<br>   

<div class="entry">
 <p> 

<p>
  <b>Name:</b>
  <%= @verein.name %>
</p>

<p>
  <b>Stadt:</b>
  <%= @verein.stadt %>
</p>

<p>
  <b>Trainier:</b>
  <%= @verein.trainier %>
</p>


<%= link_to 'Edit', edit_verein_path(@verein) %> |
<%= link_to 'Back', vereins_path %>
</p>
</div>
