<h1>Listing spielbegegnungs</h1>

<table>
  <tr>
    <th>Verein</th>
    <th>Verein</th>
    <th>Datum</th>
    <th>Ort</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @spielbegegnungs.each do |spielbegegnung| %>
  <tr>
    <td><%= spielbegegnung.verein_heim_id %>
        <%= Verein.find(spielbegegnung.verein_heim_id).name %></td>
    <td><%= spielbegegnung.verein_gast_id %>
        <%= Verein.find(spielbegegnung.verein_gast_id).name %></td>     
    <td><%= spielbegegnung.datum %></td>
    <td><%= spielbegegnung.ort %></td>
    <td><%= link_to 'Show', spielbegegnung %></td>
    <td><%= link_to 'Edit', edit_spielbegegnung_path(spielbegegnung) %></td>
    <td><%= link_to 'Destroy', spielbegegnung, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Spielbegegnung', new_spielbegegnung_path %>
