<h1>Alle Spielbegegnungen</h1>

<table border='1' sytle='dotted'>
  <tr>
    <th>Verein Heim</th>
    <th>Verein Gast</th>
    <th>Datum</th>
    <th>Ort</th>
 </tr>

<% @spielbegegnungs.each do |spielbegegnung| %>
  <tr>
    <td><%= Verein.find(spielbegegnung.verein_heim_id).name %></td>
    <td><%= Verein.find(spielbegegnung.verein_gast_id).name %></td>     
    <td><%= spielbegegnung.datum %></td>
    <td><%= spielbegegnung.ort %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'Back', user_path(current_user) %>
