
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
<title>Bobuli - Bet on Bundesliga</title>
<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
  <div id="logo">
<!-- <h1>Bobuli</a>  <p>Designed By zwei coolen Typen</p></h1>start header -->    
    
  </div>
  <div id="menu">
    <ul id="main">
      <li class="current_page_item"><a href="#">Homepage (l)</a></li>
      <li><%= link_to "Tippspiel", 'home'  %></li>
      <li><a href="#">Fussball News (l)</a></li>
      <li><%= link_to "About", 'about' %></li>
      <li><%= link_to "Contact Us", 'contact' %></li>
      
    </ul>
  </div>
  
</div>
<!-- end header -->
<div id="wrapper">
  <!-- start page -->
  <div id="page">
    <div id="sidebar1" class="sidebar">
      <ul>
        <li>
         <!-- <h2>
          <%= (sidebar = yield :sidebar) ? sidebar : render(:partial => 'sidebar') %>
          </h2>
          -->
           <h2>Categories</h2>
          <ul>
          <% if signed_in? %>
       
<li><%= link_to 'Alle Vereine ansehen', vereins_path %></li>            
<li><%= link_to 'Alle Spielbegegnungen ansehen', spielbegegnungs_path %></li>
<li><%= link_to 'Tipp abgeben', new_tipp_path %></li>
<li><%= link_to 'Tippranking ansehen', users_path%></li>
<li><%= link_to 'Benutzer Einstellungen', edit_user_path(current_user) %></li>
            
          
          <%else%>
<li><%= link_to 'Alle Vereine ansehen', vereins_path %></li>            
<li><%= link_to 'Alle Spielbegegnungen ansehen', spielbegegnungs_path %></li>
          
          </ul>
          <%end%>
          <br>
          <% if signed_in? && current_user.admin? %>
          <h2> Admin Panel</h2>
          <ul>
            <li><%= link_to 'Alle Vereine ansehen', vereins_path %></li>
            <li><%= link_to 'Alle Vereine ansehen', vereins_path %></li>
            <li><%= link_to 'Alle Vereine ansehen', vereins_path %></li>
            <li><%= link_to 'Alle Vereine ansehen', vereins_path %></li>
          </ul>
          
          <% end %>

          
        </li>
        
      </ul>
    </div>
    <!-- start content -->
    <div id="content">
      <div class="post">
     
     
     
        
            <%= yield %>
     
     
     
     
     
     
      </div>
    </div>
    <!-- end content -->
    <!-- start sidebars -->
    <div id="sidebar2" class="sidebar">
      <ul>
        <li>
          <form id="searchform" method="get" action="#">
            <div>
              <h2>Site Search</h2>
              <input type="text" name="s" id="s" size="15" value="" />
              <br />
              <input type="submit" value="Search" id="x" />
            </div>
          </form>
        </li>
        <li>
          <h2>News</h2>
          <p class="tag">
            
              <% if signed_in? %>
              <%= link_to "Sign out", signout_path, :method => :delete %> 
              <% else %>
              <%= link_to "Sign in", signin_path %>
              <% end %>
        <br>
<a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a> <a href="#">dolor</a> <a href="#">ipsum</a> <a href="#">lorem</a> <a href="#">sit amet</a></p></li>
        <li>
          <h2>Calendar</h2>
          <div id="calendar_wrap">
            <table summary="Calendar">
              <caption>
              Januar 2011
              </caption>
              <thead>
                <tr>
                  <th abbr="Montag" scope="col" title="Montag">M</th>
                  <th abbr="Dienstag" scope="col" title="Dienstag">D</th>
                  <th abbr="Mittwoch" scope="col" title="Mittwoch">M</th>
                  <th abbr="Donnerstag" scope="col" title="Donnerstag">D</th>
                  <th abbr="Freitag" scope="col" title="Freitag">F</th>
                  <th abbr="Samstag" scope="col" title="Samstag">S</th>
                  <th abbr="Sonntag" scope="col" title="Sonntag">S</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td abbr="Dezember" colspan="3" id="prev"><a href="#" title="Dezember 2010">&laquo; Dez</a></td>
                  <td class="pad">&nbsp;</td>
                  <td colspan="3" id="next">&nbsp;</td>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>2</td>
                  <td>3</td>
                  <td id="today">4</td>
                  <td>5</td>
                  <td>6</td>
                  <td>7</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>9</td>
                  <td>10</td>
                  <td>11</td>
                  <td>12</td>
                  <td>13</td>
                  <td>14</td>
                </tr>
                <tr>
                  <td>15</td>
                  <td>16</td>
                  <td>17</td>
                  <td>18</td>
                  <td>19</td>
                  <td>20</td>
                  <td>21</td>
                </tr>
                <tr>
                  <td>22</td>
                  <td>23</td>
                  <td>24</td>
                  <td>25</td>
                  <td>26</td>
                  <td>27</td>
                  <td>28</td>
                </tr>
                <tr>
                  <td>29</td>
                  <td>30</td>
                  <td>31</td>
                  <td class="pad" colspan="4">&nbsp;</td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
        
      </ul>
    </div>
    <!-- end sidebars -->
    <div style="clear: both;">&nbsp;</div>
  </div>
  <!-- end page -->
</div>
<div id="footer">
  <p>&copy;2011 All Rights Reserved. &nbsp;&bull;&nbsp; Design by Bobuli Masters.</p>
</div>
</body>
</html>

